.titleScrolling {
  animation: title-scroll 3s ease-in-out infinite alternate 0.15s;
}

.postCardLink:hover .titleScrollable {
  width: max-content;
  animation: title-scroll 3s ease-in-out infinite alternate 0.15s;
}

.descriptionScrolling {
  animation: description-scroll 4s ease-out forwards 0.3s;
}

@keyframes title-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--scroll-distance, 100px)));
  }
}

@keyframes description-scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-1 * var(--scroll-distance, 100px)));
  }
}
